/* KanbanCard.css */

.kanban-card {
  position: relative;
  background-color: white;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 50%; /* Makes the checkbox fully rounded */
}
.ticket-id {
  font-weight: bold;
  margin-right: auto;
}

.user-avatar {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticket-tags {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.ticket-tag {
  background-color: #ffffff;
  border: 2px solid #e4e4e4; /* Reduced border thickness */
  border-radius: 4px;
}

.ticket-tag-name {
  color: #939393;
  border-radius: 4px;
  padding: 0px 8px;
  font-size: 0.85em;
}
